body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: rgb(64, 64, 64);
    background-color: #FFFFFF;
    min-width: 1040px;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.page-header {
    background-image: url("img/wheat-back.jpg");
    background-position: bottom;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 100px;
}

.logo-and-nav {
    margin: 0;
    padding-top: 20px;
}

.header-logo {
    display: inline-block;
    margin: 0;
    margin-top: 0;
    float: left;
    clear: right;
}

.main-nav {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 30px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 50px;
    border-top: rgb(156, 145, 110) 1px solid;
    border-bottom: rgb(156, 145, 110) 1px solid;
}

.main-nav-item {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-right: 80px;
    display: inline-block;
}

.main-nav-item:last-child {
    margin-right: 0;
}

.main-nav-link {
    text-decoration: none;
    color: #FFFFFF;
}

.main-nav-link:hover {
    text-decoration: underline;
}

.main-nav-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.header-title {
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}

.item-table {
    float: right;
    border-collapse: collapse;
    margin-right: 20px;
    clear: both;
    width: 200px;
}

.item-table td {
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin: 0;
    border: 1px solid rgb(229, 229, 229);
}

.new-items {
    padding-top: 50px;
    padding-bottom: 55px;
}

.new-items-container {
    border-collapse: collapse;
}

.item {
    margin: 0;
    float: left;
    max-width: 500px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding-left: 7px;
    border-collapse: collapse;
}

.item:last-child {
    margin: 0;
    float: right;
    max-width: 500px;
    border-right: 1px solid grey;
    border-left: none;
    padding-left: 7px;
    border-collapse: collapse;
}

.ingredients {
    max-width: 170px;
    margin: 0;
    float: right;
    clear: right;
    padding-top: 20px;
}

.item-description {
    margin: 0;
    max-width: 400px;
    margin-bottom: 50px;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
}

h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    line-height: 55px;
    color: #000000;
}

.details {
    color: rgb(131, 71, 0);
    text-decoration: none;
    border: solid 2px rgb(131, 71, 0);
    text-transform: uppercase;
    padding: 10px;
    margin-right: 20px;
    font-weight: bold;
}

.buy-button {
    color: white;
    text-decoration: none;
    background-color: rgb(131, 71, 0);
    border: solid 2px rgb(131, 71, 0);
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

.about-us {
    background-color: rgb(255, 203, 120);
    padding-top: 50px;
    padding-bottom: 55px;
}

.fact-about-us {
    margin: 0;
    float: left;
    margin-right: 70px;
    list-style: none;
    border-right: solid 1px rgb(230, 182, 108);
    padding-top: 90px;
}

.fact-about-us:last-child {
    margin-right: 0;
    border-right: none;
}

.facts {
    max-width: 250px;
}

.fact-about-us--exp {
    background: url("img/icon-brew.png") top left no-repeat;
}

.fact-about-us--ours {
    background: url("img/icon-matreshka.png") top left no-repeat;
}

.fact-about-us--qual {
    background: url("img/icon-thumbsup.png") top left no-repeat;
}

.info {
    padding-top: 50px;
    padding-bottom: 55px;
}

.history {}

.kvas-history {
    margin: 0;
}

.history-fact {
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

.history-description {
    max-width: 400px;
}

.kvas-img {
    float: right;
    display: inline-block;
    clear: right;
}

.wiki-source {
    float: right;
    display: inline-block;
    clear: right;
}

th {
    color: rgb(173, 173, 173);
}

.info-link {
    color: rgb(139, 83, 17);
}

.press {
    background-color: rgb(237, 229, 216);
    clear: left;
}

.press-title {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 30px;
}

.press-cite {
    margin: 0;
    max-width: 900px;
    padding-bottom: 60px;
}

.newspaper {
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
}

.continue-read-button {
    color: rgb(165, 160, 151);
    text-decoration: none;
    padding-top: 40px;
}

.kvas-assortiment {
    display: block;
}

.table-row {
    border-bottom: rgb(156, 145, 110) 1px solid;
    padding-bottom: 20px;
    padding-top: 15px;
    display: block;
    width: 100%;
}

.table-data {
    text-transform: uppercase;
}

.table-header {
    text-align: left;
}

.table-name {
    font-weight: bold;
}

.table-name sup {
    width: 50px;
    padding: 4px;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: x-small;
}

.tr-item:first-child {
    width: 170px;
    padding-right: 140px;
}

.tr-item {
    width: 100px;
    padding-right: 30px;
}

.tr-item:nth-child(4) {
    width: 100px;
    padding-right: 230px;
}

.tr-item:last-child {
    width: 100px;
    text-align: right;
}

.order-now {
    background-color: rgb(255, 203, 120);
}

.form-label {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.your-name {
    display: inline-block;
    width: 100%;
}

.login-input {
    background-color: rgb(230, 182, 108);
    border: none;
    padding: 5px 10px;
    width: 100%;
}

.first-phone-number {
    float: left;
    width: 40%;
}

.first-phone-number-input {
    background-color: rgb(230, 182, 108);
    border: none;
    padding: 5px 10px;
    width: 100%;
}

.second-phone-number {
    float: right;
    width: 40%;
}

.second-phone-number-input {
    background-color: rgb(230, 182, 108);
    border: none;
    padding: 5px 10px;
    width: 100%;
}

.email-input {
    background-color: rgb(230, 182, 108);
    border: none;
    padding: 5px 10px;
    width: 100%;
}

.value-input {
    background-color: rgb(230, 182, 108);
    border: none;
    padding: 5px 10px;
    width: 100%;
}

.comment-input {
    background-color: rgb(230, 182, 108);
    border: none;
    padding: 5px 10px;
    width: 100%;
}

.checkbox-area {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.checkbox-area input[type="checkbox"] {
    margin: 0;
    margin-right: 5px;
}

.checkbox-confirm {
    background-color: rgb(230, 182, 108);
    border: none;
    padding: 5px 10px;
}

.submit-btn {
    color: white;
    text-decoration: none;
    background-color: rgb(131, 71, 0);
    border: solid 2px rgb(131, 71, 0);
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

.page-footer {
    background-color: black;
}

.footer-logo {
    padding-top: 40px;
}

.footer-nav {
    color: #FFFFFF;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 0;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 30px;
    border-top: rgb(156, 145, 110) 1px solid;
    border-bottom: rgb(156, 145, 110) 1px solid;
    float: right;
}

.footer-nav-item {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-right: 80px;
    display: inline-block;
}

.footer-nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

.social-networks {
    float: left;
    font-size: 0;
}

.social-networks a {
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    border: solid 1px rgb(50, 46, 37);
    border-collapse: collapse;
    color: #ffffff;
    background-color: rgb(27, 27, 27);
}

.social-btn-vk {
    background-position: 20px 20px;
    background-image: url("img/icon-vk.png");
    background-repeat: no-repeat;
}

.social-btn-fb {
    background-position: 20px 20px;
    background-image: url("img/icon-fb.png");
    background-repeat: no-repeat;
}

.social-btn-in {
    background-position: 20px 20px;
    background-image: url("img/icon-insta.png");
    background-repeat: no-repeat;
}

.footer-paragraph {
    color: rgb(152, 152, 152);
    max-width: 280px;
    margin: 0 auto;
    display: inline-block;
    padding-left: 100px;
}

.developer-info {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    display: inline-block;
    padding-left: 100px;
}

.academy-logo {
    padding: 10px;
    background-color: rgb(27, 27, 27);
    border: solid 1px rgb(50, 46, 37);
}

.developer {
    color: rgb(152, 152, 152);
}

.developer-name {
    color: rgb(152, 152, 152);
    text-decoration: none;
}