body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: black;
    background-color: white;
}

.page-header {
    background-color: rgb(153, 101, 5);
}

.header-title {
    font-size: 70px;
    font-weight: bold;
    line-height: 55px;
    text-align: center;
    color: white;
}

.main-nav {
    list-style: none;
}

.main-nav-item {
    text-transform: uppercase;
}

.main-nav-link {
    text-decoration: none;
    color: white;
}

.main-nav-link:hover {
    text-decoration: underline;
}

.main-nav-link:active {
    color: rgba(255, 255, 255, 0.3);
}

h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    font-family: "Arial", serif;
}

h3 {
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    font-family: "Arial", serif;
}

.new-item-title {
    /*color: rgb(130, 92, 29); - це для другого кваса*/
}

.about-us {}

.info {
    background-color: rgb(255, 203, 120);
}

.info-link {
    color: rgb(139, 83, 17);
}

.press {}

.assortiment {}

.order-now {
    background-color: rgb(255, 203, 120);
}

.page-footer {
    background-color: black;
}

.footer-nav {
    color: white;
}

.footer-paragraph {
    color: rgb(111, 111, 111)
}